.navbar-nav {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  font-family: amatic;
  font-size: 1.5em;
}

@font-face {
  font-family: 'amatic';
  src: url(./fonts/AmaticSC-Regular.ttf);
}

@font-face {
  font-family: muli;
  src: url(./fonts/Muli.ttf);
}

body {
  background-image: url(./images/watercolor_background2.jpg);
  background-attachment: fixed;
}

#motto {
	font-family: amatic;
	font-size: 2em;
}

li > a {
  color: gray;
}

li.active > a {
  color: black;
}

p {
	font-family: muli;
}

#center-block {
	background-color: white;
	max-width: 70%;
	border: 1px solid black;
}

#site-logo {
	max-width: 60%;
	display: block;
    margin: auto;
}

#email-icon {
	max-width: 20%;
	display: block;
    margin-left: auto;
    margin-right: auto;
}